* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "libre";
  src: url("../public/fonts/LibreBaskerville-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "lux";
  src: url("../public/fonts/LuxuriousScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "alex";
  src: url("../public/fonts/AlexBrush-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "seasons";
  src: url("../public/fonts/Fontspring-DEMO-theseasons-reg.otf")
    format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.footer {
  background-color: #1a1a1a;
  color: #fff;
  font-family: "libre";
  padding: 15px;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}
.hey {
}

.hey_img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center 80%;
}

.pwd {
  background-image: url("./assets/us.jpg")!important;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;
  height: 100vh;
}
.gfd {
  inset: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pwd_card {
  padding: 0px 20px 20px 20px;
  height: fit-content;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.am_input {
  background-color: transparent;
  border: 1px solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
  outline: none;
  border-left-color: transparent;
}

.am_input::placeholder {
  color: #1a1a1a;
}

.enter {
  background-color: #1a1a1a;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
}
.amz {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.amzz {
  display: flex;
  align-items: center;
  justify-content: center;
}
.am_ongs {
  width: 150px;
}
@media screen and (max-width: 700px) {
  .hey_img {
    height: 30vh;
  }
}
